body{
    /* background-color: #5CDB95; */
    background-color: #C4B0FF;
}

body.modal_open{
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header h1 {
    font-size: 4em;
    margin-bottom: 0px;
    /* color: #05386b; */
    color: #11009E;
    cursor: default;
}

#search_bar{
    width: 30%;
    border-radius: 5px;
}

#search_button {
    margin-left: 5px;
    width: 70px;
    background-color: lightcoral;
    color: black;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

#search_button:active{
    background-color: orange;
}

.recipe_board {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    justify-items: center;
}

/* Recipe Summary */

.recipe_summary{
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
    /* background-color: #EDF5E1; */
    background-color: #F3F1F6;
    padding: 10px;
    border-radius: 20px;
    height: 500px;
    width: 304px;
    cursor: pointer;
}

.recipe_summary .recipe_image {
    max-width: 300px;
    max-height: 300px;
    border-radius: 5px;
    border: 2px solid black;
}

.recipe_summary h4{
    margin-top: 5px;
    margin-bottom: 0px;
}

.recipe_summary .ingredients_list{
    margin-top: 5px;
    align-items: center;
}

.recipe_summary .ingredients_list.multiple_columns {
    column-count: 2;
}

.recipe_summary .time_required {
    color: red;
}

.recipe_summary .procedure {
    display: none;
}

.recipe_summary.hide{
    display: none;
}


/* Modal */
#modal{
    width: 70%;
    max-width: 1000px;
    max-height: 80%;
    border-radius: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#modal::-webkit-scrollbar{
    display: none;
}

#modal_recipe_image{
    width: 100%;
    max-width: 600px;
    max-height: 600px;
    border-radius: 5px;
    border: 2px solid black;
}

.modal_top{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.modal_middle {
    column-count: 2;
    column-width: auto;
}

#modal_recipe_name{
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 10px;
}

#modal h3{
    font-size: 1.5em;
    margin-bottom: 0px;
    margin-top: 5px;
}

#modal h4{
    font-size: 1em;
    margin-bottom: 0px;
    margin-top: 5px;
}

#modal_ingredients_list{
    margin-top: 5px;
    align-items: center;
    font-size: 1.3em;
}

#modal_ingredients_list.multiple_columns{
    column-count: 2;
    column-width: auto;
}


/* Responsive */

@media screen and (min-width: 800px) and (max-width: 1000px){
    #modal_ingredients_list{
        font-size: 1em;
    }

    #modal h3{
        font-size: 1.3em;
    }

    #search_bar{
        width: 50%;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px){
    #modal{
        width: 80%;
        max-height: 90%;
    }

    #modal_ingredients_list{
        font-size: 0.85em;
        padding-inline-start:10px;
    }

    #modal h3{
        font-size: 1em;
    }

    #modal h4{
        font-size: 0.8em;
    }

    #search_bar{
        width: 60%;
    }
}

@media screen and (max-width: 600px) {
    header h1{
        font-size: 2em;
    }


    #modal{
        width: 90%;
        max-height: 90%;
    }

    .modal_middle {
        column-count: 1;
        column-width: auto;
    }

    #modal_ingredients_list{
        font-size: 1em;
    }

    #modal h3{
        font-size: 1.3em;
    }

    #search_bar{
        width: 60%;
    }
}