@media screen and (max-width: 400px) {
    .nav{
        width: 100%;
    }

    .nav ul li {
        font-size: 1rem;
        padding-left: 2%;
        padding-right: 2%;
    }

    .width-700-inf{
        display: none;
    }

    .width-1200-inf{
        display: none;
    }

    .section-row{
        justify-content: center;
    }

    .section-column{
        width: 100%;
    }


    .intro_h1{
        margin: auto;
        margin-top: 100px;
        font-size: 2.5rem;
    }

    .occupation {
        font-size: 1.5rem;
    }

    .intro{
        font-size: 1rem;
    }

    .section-row img {
        max-width: 90%;
        object-fit: contain;
    }

    .footer_social_media_icons li{
        padding: 2%;
    }

    .width-400-700{
        display: none;
    }

    .about_h1{
        font-size: 2rem;
    }
    
    .about_p{
        font-size: 1rem;
        padding: 2%;
        text-align: center;
    }

    :root{
        --swiper-navigation-size:30px;
    }
}


@media screen and (min-width:400px) and (max-width: 700px){

    .width-0-400{
        display: none;
    }

    .width-700-inf{
        display: none;
    }

    .width-1200-inf{
        display: none;
    }

    .section-row{
        justify-content: center;
    }

    .section-column{
        width: 100%;
    }

    .intro_h1{
        margin: auto;
        margin-top: 100px;
        font-size: 3rem;
    }

    .occupation {
        font-size: 2rem;
    }

    .intro{
        font-size: 1rem;
    }

    .section-row img {
        max-width: 90%;
        object-fit: contain;
    }


    .about_h1{
        font-size: 2rem;
    }
    
    .about_p{
        font-size: 1rem;
        padding: 2%;
        text-align: center;
    }

    :root{
        --swiper-navigation-size:30px;
    }
}




@media screen and (min-width: 700px) and (max-width: 1200px){
    .width-0-700{
        display: none;
    }

    .width-1200-inf{
        display: none;
    }

    .section-container{
        width: 90%;
    }

    .intro_h1{
        margin: 0 auto;
        margin-top: 100px;
        font-size: 3rem;
    }

    .occupation {
        font-size: 2rem;
    }

    .intro{
        font-size: 1rem;
    }

    .section-column.width-50{
        width: 50%;
    }

    .learn_more_button{
        font-size: 1rem;
    }

    .about_h1{
        font-size: 2rem;
    }
    
    .about_p{
        font-size: 1rem;
        text-align: center;
    }

    :root{
        --swiper-navigation-size:30px;
    }

}


@media screen and (min-width: 1200px){
    .width-0-700{
        display: none;
    }
}


